.nav-link:hover {
    border-bottom: 3px solid rgb(169, 67, 169);
  }
  .nav-link {
    color: black;
  }
  #current {
    color: rgb(169, 67, 169);
    border-bottom: 3px solid rgb(169, 67, 169);
  }
  